#!version:1.0.0.1
## TalkOps common configuration for Yealink phones.
## Generated automatically - local changes are overwritten on the next resync.

## Provisioning (both parameter generations: firmware <= V80 and V81+)
auto_provision.server.url = {{ prov.url }}
auto_provision.server.username = {{ prov.username }}
auto_provision.server.password = {{ prov.password }}
static.auto_provision.server.url = {{ prov.url }}
static.auto_provision.server.username = {{ prov.username }}
static.auto_provision.server.password = {{ prov.password }}
## Re-check the configuration every night between 02:00 and 04:00.
auto_provision.weekly.enable = 1
auto_provision.weekly.dayofweek = 0123456
auto_provision.weekly.begin_time = 02:00
auto_provision.weekly.end_time = 04:00
static.auto_provision.weekly.enable = 1
static.auto_provision.weekly.dayofweek = 0123456
static.auto_provision.weekly.begin_time = 02:00
static.auto_provision.weekly.end_time = 04:00
## "Resync" in TalkOps sends a SIP NOTIFY check-sync: reboot and re-provision.
sip.notify_reboot_enable = 1

## Web UI admin password of the phone
security.user_password = admin:{{ admin_password }}
static.security.user_password = admin:{{ admin_password }}

## Time and language
local_time.time_zone = {{ locale.time_zone }}
local_time.time_zone_name = {{ locale.time_zone_name }}
local_time.summer_time = 2
local_time.ntp_server1 = {{ locale.ntp_server }}
lang.gui = {{ locale.language }}
lang.wui = {{ locale.language }}

## Remote phonebooks served by TalkOps
features.remote_phonebook.enable = 1
features.remote_phonebook.flash_time = 3600
remote_phonebook.data.1.name = {{ phonebook.internal_name }}
remote_phonebook.data.1.url = {{ prov.base_url }}/phonebook/internal.xml
remote_phonebook.data.2.name = {{ phonebook.contacts_name }}
remote_phonebook.data.2.url = {{ prov.base_url }}/phonebook/contacts.xml

## Pickup: "**<extension>" picks up a ringing extension (also used by BLF keys)
features.pickup.direct_pickup_enable = 1
features.pickup.direct_pickup_code = **
features.pickup.blf_visual_enable = 1

## Status reports to TalkOps (model/firmware/IP, DND synchronisation)
action_url.setup_completed = {{ prov.events_url }}&event=setup_completed&mac=$mac&ip=$ip&model=$model&firmware=$firmware
action_url.dnd_on = {{ prov.events_url }}&event=dnd_on&mac=$mac
action_url.dnd_off = {{ prov.events_url }}&event=dnd_off&mac=$mac
