#!version:1.0.0.1
## TalkOps configuration for {{ phone.name }} ({{ model.name }}, {{ phone.mac }}).
## Generated automatically - local changes are overwritten on the next resync.
{% if firmware_url %}
static.firmware.url = {{ firmware_url }}
firmware.url = {{ firmware_url }}
{% endif %}
{% for a in accounts %}
## Account {{ a.index }}: {{ a.label }}
account.{{ a.index }}.enable = 1
account.{{ a.index }}.label = {{ a.label }}
account.{{ a.index }}.display_name = {{ a.display_name }}
account.{{ a.index }}.auth_name = {{ a.username }}
account.{{ a.index }}.user_name = {{ a.username }}
account.{{ a.index }}.password = {{ a.password }}
account.{{ a.index }}.sip_server.1.address = {{ server.host }}
account.{{ a.index }}.sip_server.1.port = {{ server.port }}
account.{{ a.index }}.sip_server.1.transport_type = 0
account.{{ a.index }}.subscribe_mwi = 1
account.{{ a.index }}.subscribe_mwi_to_vm = 1
voice_mail.number.{{ a.index }} = {{ voicemail_code }}
{% if model.family == "dect" %}
handset.{{ a.index }}.name = {{ a.label }}
handset.{{ a.index }}.incoming_lines = {{ a.index }}
handset.{{ a.index }}.dial_out_lines = {{ a.index }}
handset.{{ a.index }}.dial_out_default_line = {{ a.index }}
{% endif %}
{% endfor %}
{% for i in unused_accounts %}
account.{{ i }}.enable = 0
{% endfor %}
{% if model.line_keys > 0 %}
## Line keys
{% if model.family == "wifi" %}
dsskey.enable = 1
dsskey.show_linekey.enable = 1
{% endif %}
{% for k in keys %}
linekey.{{ k.key }}.type = {{ k.type_code }}
linekey.{{ k.key }}.line = {{ k.account }}
linekey.{{ k.key }}.value = {{ k.value }}
linekey.{{ k.key }}.label = {{ k.label }}
{% if model.family == "wifi" %}
linekey.{{ k.key }}.extension = {{ k.pickup_value }}
{% else %}
linekey.{{ k.key }}.pickup_value = {{ k.pickup_value }}
{% endif %}
{% endfor %}
{% endif %}
{% if ringtone %}
## Custom ringtone (WAV, downloaded on every resync)
ringtone.url = {{ ringtone.url }}
phone_setting.ring_type = {{ ringtone.filename }}
{% endif %}
{% if wallpaper %}
## Custom wallpaper
wallpaper_upload.url = {{ wallpaper.url }}
phone_setting.backgrounds = {{ wallpaper.filename }}
{% endif %}
## Phone book sections assigned to this phone (1 and 2: common file)
{% for pb in phonebooks %}
remote_phonebook.data.{{ pb.index }}.name = {{ pb.name }}
remote_phonebook.data.{{ pb.index }}.url = {{ pb.url }}
{% endfor %}
{% for i in unused_phonebooks %}
remote_phonebook.data.{{ i }}.name = 
remote_phonebook.data.{{ i }}.url = 
{% endfor %}
